li{
    font-size: 19px;
    line-height: 35px;
}
p{
    font-size: 17px;
    line-height: 30px;
    padding: 20px;
}
h1{
    font-size: 26px;
    color: #0554c6;
    max-width: 572px;
    padding: 20px;
}