<ng-container *ngIf="blogId==1">

    <div class="container" style="padding: 100px 0px;">
        <h1 class="heading">TOBACCO USE IN INDIA</h1>
        <p>Tobacco is the leading and a preventable cause of illness, disability and pre mature death globally. Tobacco
            has been called the world's greatest weapon of mass destruction. Each year 8-9 lakhs Indians die from
            Tobacco related disease. This results in high personal and Society costs.</p>

        <div>
            <div class="foodimg"></div>

            <h1>Did You know ?</h1>

            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>India is the second largest consumer of tobacco in the world (after China) and second
                            largest producer of tobacco (after China).</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>There are about 275 million users in India.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            One third of adults (34.6) use some form of tobacco.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <ul>
                        <li>
                            Tobacco use is deadly smoking kills up to half of all life time users.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            14.6% of 13-15 years school going children uses tobacco in some form.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <ul>
                        <li>
                            Average age at initiation of tobacco used in 17.8 years with 25.8% females starting tobacco
                            use before the age of 15.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            Every 8 seconds, an Indian dies due to tobacco related disease.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <ul>
                        <li>
                            Everyday 2500 children start (initiate) smoking / tobacco use.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/blogimage2.png" style="width: inherit;">

                </div>
                <div class="col-md-6">

                    <ul>
                        <li>
                            By 2010, smoking will cause about 1 Million adult deaths each year in India.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            About 70% of those who die from smoking will be between the productive age group of 69.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Maximum number of cancers of mouth in the world occurs in India (approx.80%) and
                            most of
                            these are caused by the consumption of tobacco.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <h1>TYPES OF TOBACCO PRODUCTS USER IN INDIA IN SMOKING FORMS</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Bidis</li>
                        <li> Cigarettes</li>
                        <li> Hukka</li>
                        <li> Cigars</li>
                        <li> Cheroot</li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <ul>
                        <li> Chutta</li>
                        <li> Hukli</li>
                        <li> Dhumti</li>
                        <li> Pipes</li>

                    </ul>
                </div>
            </div>

        </div>

        <div>
            <p>Tobacco is derived from the plant nicotina tobaccum. The leaves of this plant are used to make
                smoking and
                smokeless tobacco products. Tobacco contains at least 2550 chemicals. There are more than 7000
                chemicals in
                tobacco smoke. At least 69 of these Chemicals are known carcinogens or Chemicals that cause cancer.
                Tobacco contains nicotine which is highly toxic addictive and Lethal substance.
                1000 times more potent than alcohol
                Is a drug more addictive than cocaine Heroin morphine and bhang.
                Tobacco contains large number of harmful chemicals, Some are:
            </p>
        </div>

        <div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li> Arsenic</li>
                        <li> Cadmium</li>
                        <li> Ammonia</li>
                        <li> Turpentine</li>
                        <li> Methoprene</li>
                        <li> Acetone</li>
                        <li> Lead</li>
                        <li> Propylene glycol</li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <ul>
                        <li> Nicotine</li>
                        <li> Tar</li>
                        <li> Benzopyrene</li>
                        <li> Carbon monoxide</li>
                        <li> Formaldehyde</li>
                        <li> Benzene</li>
                        <li> Hydrogen cyanide</li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <div class="row">
                <div class="col-md-7">

                    <p> 1. Nicotine: is a drug that is as addictive as cocaine and heroin. It occurs naturally in
                        tobacco
                        plants, although companies may add it to tobacco products. Within seconds of inhaling smoke
                        from a
                        cigarette the nicotine reaches your brain, stimulating The Nervous System, increasing heart
                        rate,
                        raising blood pressure and constructing small blood vessels under the skin.</p>

                    <p>
                        2. Tar: is a sticky black Residue that results from burning process. It contains hundreds of
                        chemicals
                        considered carcinogenic and toxic. The tar carries many toxic Chemicals to the lungs. It is
                        the main
                        Cause of throat and lung cancer. Tar leaves Stains on the smoker’s teeth, fingers and lung
                        tissue.
                        Smokers having pack a day inhale about a quart of tar into their lungs in a year.
                    </p>

                    <p> 3. Benzopyrene: is in the coal tar and cigarette smoke. It's one of the most potent cancer
                        causing
                        chemicals.</p>
                    <p> 4. Carbon monoxide: is a chemical contained in tobacco smoke which is produced as a result of
                        the
                        burning of tobacco. It reduces the ability of your red blood cells to deliver oxygen to tissues,
                        causing
                        the greatest potential damage to the heart, brain and skeletal muscles (tissues that have the
                        highest
                        demand for oxygen).</p>

                    <p> 5. Formaldehyde: is added to tobacco to help prevent the tobacco from dying out quickly.
                        This is one
                        of
                        the main ingredients in embalming fluid used to preserve dead bodies. It is a known
                        carcinogen
                        (cancer
                        causing substance) and can damage the lungs, skin and digestive system.</p>


                </div>
                <div class="col-md-5">
                    <img src="assets/images/blogimg1.png" style="width: inherit;">
                </div>
            </div>
        </div>

        <div>
            <p> 6. Benzene: is classified as a group 1 carcinogen, meaning that there is no safe level of
                exposure.
                Benzene is a chemical that is used to make everything from pesticides to the detergent to
                petrol.</p>

            <p> 7. Hydrogen cyanide: is considered one of the most toxic agents found in tobacco smoke. This
                was the
                poison used in gas Chambers. In smaller doses like those found in cigarettes, it damages
                tiny hairs
                in
                the bronchial tubes which form the part of the natural cleaning mechanism. As a result,
                toxic
                substances
                get build up in the lungs.</p>

            <p> 8. Arsenic: is a deadly poison that is often used as a pesticide. Many tobacco farmers
                Around the
                World
                use arsenic to get rid of bugs while growing the tobacco plant.</p>

            <p>9. Cadmium: is a heavy metal found in car batteries. It causes damage to the liver, kidneys
                and
                brain
                and stays in the body for years.</p>

            <p> 10. Ammonia: chemical used in cleaning products such as glass and toilet bowl cleaner. The
                two
                battery
                industry claims that Ammonia adds flavor but scientists have discovered that Ammonia that
                helps the
                body
                absorb nicotine thereby helping in the addiction process.</p>

            <p> 11. Turpentine: is commonly used as a paint stripper and is very toxic.</p>

            <p> 12. Methoprene: is a chemical found in tobacco smoke that is used to clean fleas on pet.</p>

            <p> 13. Acetone: is one of the active ingredients in nail polish remover. The tobacco industry
                refused
                to
                say How Acetone gets into cigarettes.</p>

            <p>14. Lead: stunts growth causes vomiting and damages the brain.</p>
            <p> 15. Propylene glycol: is a main ingredient in antifreeze. The tobacco industry claims they
                add it to
                keep tobacco from drying out. Scientist has found that it adds the delivery of nicotine to
                the
                brain.</p>
        </div>

    </div>
</ng-container>
<!-- blog id 2 start -->
<ng-container *ngIf="blogId==2">
    <div class="container" style="padding: 100px 0px;">
        <h1 class="heading cardHeading">NICOTINE WITHDRAWAL SYMPTOMS
        </h1>
        <div>
            <p>Millions of people know from personal experience that smoking is a tough habit to kick. The reason is
                that nicotine is addictive. Even though nicotine’s high isn’t as dramatic as cocaine or heroin’s, it’s
                equally as addictive as those illegal drugs.
                And nicotine withdrawal is very real. It’s why so many smokers try many times before they finally quit
                for good.
                Nicotine affects all areas of your body, from your heart and blood vessels to your hormones, metabolism,
                and brain. When you don’t have it anymore, you go through withdrawal. You’ll physically crave that
                nicotine hit and become irritable if you can’t have it.
                Nicotine withdrawal usually lasts only a month or so, but you could be fighting the mental battle
                against cigarettes for a long time.


                Depending on how long you’ve smoked and how many cigarettes you have a day, symptoms of nicotine
                withdrawal can last anywhere from several days to several weeks.
                Nicotine withdrawal involves physical, mental, and emotional symptoms. The first week, especially days 3
                through 5, is always the worst. That’s when the nicotine has finally cleared out of your body and you’ll
                start getting headaches, cravings, and insomnia.
            </p>

            <h1>Physical Withdrawal Symptoms
            </h1>
            <p>Everybody is different, and symptoms of withdrawal depend on many things, like how long and how many
                packs a day you’ve smoked. But for the most part, you can expect to have these common physical issues
                when you quit:
            </p>
            <div>
                <ul>
                    <li>Appetite. Within a day or so of your last cigarette, your appetite will shoot up for a while.
                        Cigarettes bind to receptors in the brain which augment the release of the
                        neurotransmitters serotonin and dopamine from the brain. These two chemicals reduce hunger, so
                        when they’re out of your system you’ll want to eat more. A lot of people also find that they eat
                        to fill the time when they used to be smoking. And unfortunately, you might crave more carbs and
                        sweets. The first 2 weeks are the worst -- most people gain about 5 to 10 pounds as they try
                        to quit smoking.
                    </li>
                    <li>Cravings. Nicotine cravings are the symptom you will deal with the longest, and they could start
                        just 30 minutes after your last cigarette. Each craving will last only about 15 to 20 minutes,
                        but they’ll keep coming. You’ll need to do your best to avoid triggers (like drinking alcohol or
                        being around people who smoke) and find ways to get yourself through each craving.</li>
                    <li>Cough. Your respiratory system can’t clean itself very well when nicotine is around.
                        As your body works it out, you’ll probably have a cough that could last for a few weeks.</li>

                    <li>Headaches anddizziness. These are usually on the mild side, and they’re often the first
                        withdrawal symptom to show up and first to taper off.</li>

                    <li>Fatigue. Nicotine is a stimulant and perks you up, so you’ll probably feel tired without it. But
                        you’ll also be restless and might have insomnia.</li>

                    <li>Constipation. For the first month, constipation can be another unpleasant side effect.
                    </li>
                </ul>
            </div>

            <div>
                <h1>Mental, Emotional, and Behavioral Symptoms
                </h1>
                <p>Like physical symptoms, how much you are affected mentally and emotionally when you quit smoking will
                    be different for everybody. But assume you will deal with some or all of the following signs of
                    withdrawal:
                </p>

                <ul>
                    <li>Anxiety. Smoking relieves stress, so your anxiety can skyrocket when you quit. It tends to pop
                        up around 3 days in and can last a couple of weeks.
                    </li>
                    <li>Depression. It can start the first day you quit but is generally gone within a month. But if you
                        have a history of anxiety and/or depression, yours could last longer and you might need extra
                        help from your doctor to manage your symptoms.
                    </li>

                    <li>
                        Irritability. You might have a short fuse -- even find yourself angry -- from time to time as
                        you deal with the physical symptoms. It’s normal and should pass.
                    </li>
                    <li>Mental fog. You’ll probably have a hard time concentrating as the nicotine wears off and leaves
                        your body.
                    </li>

                </ul>




            </div>

        </div>
    </div>
</ng-container>
<!-- blog id 3 start -->
<ng-container *ngIf="blogId==3">
    <div class="container" style="padding: 100px 0px;">
        <h1 class="heading cardHeading">Nicotine Withdrawal Timeline</h1>

        <div>
            <p>Here’s what you can expect after finishing your final cigarette:
            </p>
            <ul>
                <li>
                    <b>30 minutes to 4 hours:</b> The effects from the nicotine will wear off and you’ll start to crave
                    another
                    cigarette.
                </li>
                <li>
                    <b>10 hours:</b> You’ll be very restless, physically craving a cigarette, and wondering how to fill
                    the
                    time. You may feel sad and hopeless. 

                </li>
                <li><b> 24 hours:</b> Irritability kicks in and your appetite increases.
                </li>
                <li>
                    <b> 2 days:</b>  You’ll have headaches as the nicotine leaves your system.
                </li>

                <li><b>3 days:</b>  The nicotine should be gone now. Your cravings taper off but anxiety will start to
                    rise.
                </li>
                <li><b> 1 week: </b> You made it a week. Pat yourself on the back, you've made it through the worst.
                    Keep
                    avoiding those triggers.
                </li>

                <li><b> 2 to 4 weeks: </b> You still won’t have much energy, but the brain fog will be clearing up and
                    your
                    appetite will settle down. Your cough, depression, and anxiety will also improve.
                </li>
                <li>
                    <b> 5 weeks on:</b> The challenge now is keeping a strong mental game.
                </li>
            </ul>
        </div>
    </div>
</ng-container>