<div class="main_containner home_containner">
  <div class="container">

    <div class="row mainsection">
      <div class="col-md-6">
        <div class="maintitle">
          <p>Reach your goals with <span class="mainTextColor">TechZy</span></p>
          <span class="login_link">Already a member? <a routerLink="/register" class="login_link">Sign Up</a></span>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card registerCard">
          <div class="card-body cardBody">
            <div class="heading_wrapper">
              <h2 class="heading">Log in</h2>

              <p class="subheading">We offer you the best online courses in Python, Digital, Marketing, Investment,
                and
                Finance</p>
            </div>

            <div class="content-section">
              <button class="btn login-button facebook">Log in with Facebook</button>
              <button class="btn login-button google">Log in with Google</button>
              <div class="linesection">

                <p class="line"></p>
                <p><small>
                    or
                  </small>
                </p>
                <p class="line"></p>
              </div>


              <button class="btn login-button email">Log in with Email</button>


            </div>


          </div>
        </div>
      </div>



    </div>

  </div>
