<section class="container-fluid footer section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>You Can Reach Us</h2>
                <img src="assets/images/map.PNG" height="auto" width="100%">
                <p style="padding: 20px;">Address: Auchandi Road , Near Post Office </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="heading">Menu</h3>
                        <div class="footercontent">
                            <span class="p">Home</span>
                            <span class="p">Our-Product</span>
                            <span class="p">About</span>
                            <span class="p">Contact</span>
                            <span class="p">Cart</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="heading">Policies</h3>
                        <div class="footercontent">
                            <span class="p">FAQ</span>
                            <span class="p">Privacy Policy</span>
                            <span class="p">Quries</span>

                        </div>
                    </div>
                    <div class="col-md-4" style="word-break: break-word;">
                        <h3 class="heading">Contact</h3>
                        <div class="footercontent">
                            <span class="p">Mob: +91-9319846114</span>
                            <span class="p">Bawana,Delhi</span>
                            <span class="p">Mail:gouravpanchal80107@gmail.com</span>
                            <span class="social">
                                <p>join us :</p>
                                <app-social></app-social>
                            </span>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <h3 class="heading newslatterheading">Sign Up for exclusive updates, and newslatters</h3>
                <div class="form-group">
                    <label class="form_label" for="mobile">Your Name* </label>
                    <input type="tel" class="form-control bottomBorderInput" id="mobile">
                </div>
                <div class="form-group">
                    <label class="form_label" for="email">Your Email Here*</label>
                    <input type="email" class="form-control bottomBorderInput" id="email">
                </div>
                <div class="form-group">
                    <label class="form_label" for="password">Phon No.*</label>
                    <input type="phon No." class="form-control bottomBorderInput" id="password">

                    <div class="btn">
                        <button type="submit" class="btn signup_button form_button">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>