<app-header></app-header>
<div class="image">
    <div class="overlay">
        <div class="container">
            <div class="row" style="display: inline-grid">
                <!-- <h1><span style="color: blue;">Congratulations </span>for one best decison of your life</h1><br> -->
                <h2>But You Must Be Curious If You Can Stay Healthy Keeping You Smoking As It Is.</h2>
                <h2>Parallarly Detoxifying And Greatly Reducing The Tar Deposition In Your Lungs</h2>
                <button routerLink="../Our-Products"> SALES</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>