<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 logo">
            <img src="assets/images/4_logo_200x.png">
            <h5>CLINICALLY PROVEN HERBS </h5>
            <span>100% Ayurvedic </span>
        </div>
        <div class="col-md-4 logo">
            <img src="assets/images/2_logo_200x.png">
            <h5>SHOP WITH CONFIDENCE</h5>
            <span>100% Customer Satisfaction</span>
        </div>
        <div class="col-md-4 logo">
            <img src="assets/images/3_logo_200x.png">
            <h5>25 YEARS OF EXPERIENCE</h5>
            <p>R<span>lts Guarantee </span>
        </div>
    </div>
</div> -->

<div style="    text-align: center;">
    <h2 class="sectionHeading" style="padding: 0PX;"><span class="mainTextColor">EXCLUSIVELY</span> FOR YOU</h2>
    <h3 class="special">Special Collections</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 10px;">
            <div style="border: 1px solid;">
                <a routerLink="/product-detail/after-smoke">
                    <img src="assets/images/1.png" width="100%" style="max-height: 70vh;"></a>

                <div>
                    <h1>After Smoke</h1>
                    <hr style="border: 1px solid;
                    width: 85%;">
                    <h1> Rs: 100
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom: 10px;">
            <div style="border: 1px solid;">
                <a routerLink="/product-detail/wellness">
                    <img src="assets/images/2.png" width="100%" style="max-height: 70vh;"></a>
                <div>
                    <h1>After Smoke</h1>
                    <hr style="border: 1px solid;
                    width: 85%;">
                    <h1> Rs: 100
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom: 10px;">
            <div style="border: 1px solid;">
                <a routerLink="/product-detail/wellness-new0">
                    <img src="assets/images/3.png" width="100%" style="max-height: 70vh;"></a>
                <div>
                    <h1>After Smoke</h1>
                    <hr style="border: 1px solid;
                    width: 85%;">
                    <h1> Rs: 100
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p style="padding-top: 44px;
            line-height: 25px;
        ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat esse nesciunt dignissimos odit!
                Nostrum molestias recusandae quas corporis totam eligendi. Iusto repudiandae, laborum similique eius
                voluptas esse dolore possimus doloribus veritatis quas dolorem! Vero repellendus deleniti quia minus
                repellat dignissimos reiciendis distinctio beatae placeat, voluptate similique ab nam fugiat.</p>
            <img src="assets/images/three-image.png" style="width: 100%;height: 70vh;">
        </div>
        <div class="col-md-6 spacing">
            <p style="line-height: 30px;
                padding-top: 40px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, similique magni?
                Dicta
                minus molestias
                impedit ea, dolorem exercitationem maiores eligendi sequi autem voluptatem? Quae, cum aut similique
                ipsum facere corrupti. Provident, cupiditate non? Itaque laboriosam repellendus est maiores nostrum ut
                quasi quos, sint blanditiis, repellat totam eos eveniet doloribus modi nemo sunt doloremque. Recusandae
                suscipit impedit cumque quia, quam error fuga porro illum praesentium velit doloribus itaque ullam illo
                incidunt assumenda, ad aliquam, dolorem accusantium doloremque. Error quibusdam sed soluta laboriosam
                architecto minus cupiditate veniam impedit labore neque, blanditiis eum? Modi voluptatum doloremque,
                distinctio ratione eius iure corrupti et qui minima praesentium exercitationem voluptate deserunt magni
                odit labore iste laudantium non sed vero nisi. Natus provident illo facilis iusto quibusdam deserunt
                quod dolores atque numquam dolor. Optio quos beatae et quidem placeat alias omnis quod nobis odit
                veritatis velit rem aspernatur ipsa minus libero, modi cupiditate porro! Aut eaque delectus iure maxime
                nisi odit voluptas deserunt recusandae rem eum laborum, dolores, voluptate magni dicta, quos possimus
                officia nihil in. Quidem sapiente deleniti sint id sequi fugit praesentium qui aliquid quaerat
                aspernatur aut, beatae veniam quod harum iure voluptatem labore numquam nostrum consectetur quos nulla
            </p>
        </div>
    </div>
</div>




<!-- <div class="image" style="margin: 15px;">
    <div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2"><button onclick="window.location.href='/i-want-to-quit'">I WANT TO QUIT</button></div>
            <div class="col-md-2"><button onclick="window.location.href='/recently-quit'">I RECENTLY QUIT</button></div>
            <div class="col-md-2"><button onclick="window.location.href='/dont-quit'">I DON'T WANT TO QUIT</button>
            </div>
            <div class="col-md-2"></div>
            <h1 style="padding: 5px 40px 0px 40px;">Year of smoking can cause damage to the lungs that can result in
                numerous problem including irritation
                and
                consetion in the lungs shortness of breathing wheezing and mucus build up, after smoke help to cleans
                and
                edtox lungs from toxins and strengthens and rejuvenates your lungs.</h1>
        </div>
    </div>
</div> -->