/* .logo{
  display: flex;
align-items: center;
}
.images{
  width: 75px;
   display: flex;
}
.logo img{
  width: 75px; display: flex;
  justify-content: space-between;
} */
.imageheight{
  transition: transform 0.2s ease;
}
.imageheight :hover{
  transform: scale(1.1);
}
.image{
  /* background-image: url(../../assets/images/nature\ hd.jpg); */
  background-image: url('../../assets/images/no smoke.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
  position:relative;
 }
 
 /* .overlay{
     position: relative;
     height: 100%;
     width: 100%;
     background-color: #0000003b;
 } */
 button{
     position: absolute;
     top: 21pc;
     z-index: 2;
     width: 90%;
     border: none;
     border-radius: 25px;
     height: 50px;
     color: white;
     background-color: #0554c6;
 }
 button:focus {
 outline: none;
 }
 /* button:hover{
     background-color: rgb(94, 94, 206);
     color: white;
     box-shadow: 0px 0px 10px 3px grey;
 } */
 h1{
  text-align: center;
  /* color: white; */
 }
.quit-timing-image{
  background-image: url(../../assets/images/g77556.png);
  background-repeat: no-repeat;
  height: 75vh;
  background-size: contain;
}
.img1{
  background-image: url(../../assets/images/pf-e1cfd3e8--dosage1.png);
  height: 25vh;
  width: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.leaf{
  background-image:url(../../assets/images/bottom-img.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.img2{
  background-image: url(../../assets/images/pf-e1cfd3e8--dosage1.png);
  height: 25vh;
  width: 60vw;
  background-size: contain;
  background-repeat: no-repeat;

}
.img3{
  background-image: url(../../assets/images/pf-e1cfd3e8--dosage1.png);
  height: 25vh;
  width: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.kick-the-but{
  background-image: url(../../assets/images/kick-the-butt.png);
  height: 30vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}

 @media only screen and (max-width: 600px) {
 .imageheight{
  height: 50vh !important;
 }
 .sectionHeading{
 font-size: 25px !important; 
}
 .viewheight{
   max-height: 50vh !important;
 }

 .spacing{
 line-height: 25px !important;
  padding-top: 7px !important;
 }
}

 