<!-- <section style="background-color: #ccccce; margin-top: 20px; padding: 20px;">
    <div style="text-align: center;">
        <h2 class="sectionHeading" style="padding: 0PX;"><span class="mainTextColor">EXCLUSIVELY</span> FOR YOU</h2>
        <h3 class="special">Special Collections</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 10px; ">
                <div data-aos="zoom-in-right" style="background-color: white; position: relative;">
                    <a routerLink="/product-detail/after-smoke">
                        <img class="viewheight" src="assets/images/1.png" width="100%" style="max-height: 80vh;"></a>
                </div>
                <div>
                    <h1>After Smoke</h1>
                    <h1> Rs: 149
                    </h1>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px;">
                <div data-aos="zoom-in" style="background-color: white; position: relative;">
                    <a routerLink="/product-detail/after-smoke">
                        <img class="viewheight" src="assets/images/2.png" width="100%" style="max-height: 80vh;"></a>
                </div>
                <div>
                    <h1>After Smoke</h1>
                    <h1> Rs: 149
                    </h1>
                </div>

            </div>
            <div class="col-md-4" style="margin-bottom: 10px;">
                <div data-aos="zoom-in-left" style="background-color: white; position: relative;">
                    <a routerLink="/product-detail/after-smoke">
                        <img class="viewheight" src="assets/images/3.png" width="100%" style="max-height: 80vh;"></a>
                </div>
                <div>
                    <h1>After Smoke</h1>
                    <h1> Rs: 149
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container-fluid leaf">
    <div class="row">
        <div data-aos="zoom-in" data-aos-duration="1000" class="col-md-6">
            <p style="padding-top: 44px;
            line-height:34px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat esse nesciunt dignissimos odit!
                Nostrum molestias recusandae quas corporis totam eligendi. Iusto repudiandae, laborum similique eius
                voluptas esse dolore possimus doloribus veritatis quas dolorem! Vero repellendus deleniti quia minus
                repellat dignissimos reiciendis distinctio beatae placeat, voluptate similique ab nam fugiat.</p>
            <div data-aos="zoom-in" class="imageheight">
                <img class="imageheight" src="assets/images/three-image.png" style="width: 80%;height: 72vh">
            </div>
        </div>
        <div class="col-md-6" data-aos-duration="2000" data-aos="zoom-in">
            <p class="spacing" style="line-height: 38px; padding-top: 37px;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, similique magni? Dicta
                minus molestias
                impedit ea, dolorem exercitationem maiores eligendi sequi autem voluptatem? Quae, cum aut similique
                ipsum facere corrupti. Provident, cupiditate non? Itaque laboriosam repellendus est maiores nostrum ut
                quasi quos, sint blanditiis, repellat totam eos eveniet doloribus modi nemo sunt doloremque. Recusandae
                suscipit impedit cumque quia, quam error fuga porro illum praesentium velit doloribus itaque ullam illo
                incidunt assumenda, ad aliquam, dolorem accusantium doloremque. Error quibusdam sed soluta laboriosam
                architecto minus cupiditate veniam impedit labore neque, blanditiis eum? Modi voluptatum doloremque,
                distinctio ratione eius iure corrupti et qui minima praesentium exercitationem voluptate deserunt magni
                odit labore iste laudantium non sed vero nisi. Natus provident illo facilis iusto quibusdam deserunt
                quod dolores atque numquam dolor. Optio quos beatae et quidem placeat alias omnis quod nobis odit
                veritatis velit rem aspernatur ipsa minus libero, modi cupiditate porro! Aut eaque delectus iure maxime
                nisi odit voluptas deserunt recusandae rem eum laborum, dolores, voluptate magni dicta, quos possimus
                officia nihil in. Quidem sapiente deleniti sint id sequi fugit praesentium qui aliquid quaerat
                aspernatur aut, beatae veniam quod harum iure voluptatem labore numquam nostrum consectetur quos nulla
            </p>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row" style="padding:  20px 0px 0px 0px;">
        <div class="col-md-1"></div>
        <div data-aos="zoom-in" data-aos-duration="2000" class="col-md-6 quit-timing-image">
        </div>
        <div class="col-md-4">
            <div class="row" style="display: inline-block; padding: 8px 50px;">
                <div data-aos="fade-right" data-aos-duration="2000" class="col-md-4 img1">
                </div>
                <div data-aos="zoom-in" data-aos-duration="2000" class="col-md-4 img2">
                </div>
                <div data-aos="fade-left" data-aos-duration="2000" class="col-md-4 img3">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>


    </div>


</section>

<!-- <div class="kick-the-but"></div> -->