<nav class="navbar navbar-expand-lg navbar-light main_header" style="z-index: 5;">
  <div class="container-fluid" style="background-color: white;position: fixed;
  top: 0%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-md-2">
      <a routerLink="/" style="width: inherit">
        <img class="headericon" src="assets/images/2021-12-23-1.png" style="width: inherit">
      </a>

    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto nav_wrapper">
        <li (click)="activeInactive($event)" class="nav-item navItem active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li (click)="activeInactive($event)" class="nav-item navItem">
          <a class="nav-link" routerLink="/Our-Products">Our Products </a>
        </li>
        <li (click)="activeInactive($event)" class="nav-item navItem">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li (click)="activeInactive($event)" class="nav-item navItem">
          <a class="nav-link" routerLink="/Contact">Contact</a>
        </li>
        <!-- <li class="nav-item navItem">
          <button routerLink="/register" type="submit" class="btn custom_button greenThemeBtn"><b>Sign Up</b></button>
        </li> -->
        <li class="nav-item navItem" style="display: flex;
        align-items: center;">
          <a class="nav-link" routerLink="/Cart"><b>Cart</b>
            <i style="position: relative;"><img class="iconheight" src="assets/images/shopping-cart-solid.svg"
                style="height: 4vh;">
              <span class="icon" *ngIf="count != 0">{{count}}
              </span>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>