<div class="about_container container-fuild">
  <div class=" container aboutBanner">
    <h1 style="padding: 20px 0px;">
      <span class="white">
        About
      </span>
      <span class="yellow">
        Us
      </span>
    </h1>
  </div>
</div>
<section class="about  container">

  <div class="row about_content">

    <div class="col-md-8">
      <p class="sectioncontent" Section>
        A fresh firm culminated from fresh minds, we are an edtech company eager to suffice your academic
        and professional requirements concerned with the fields of digital marketing, networking, and finance.
        We provide our services in forms of cutting edge educational courses, integrated career counseling, and
        consultancy. We would really advice you to check us out. You will thank us later. </p>
    </div>
  </div>




  <span class="social">
    <p>join us : </p>
    <app-social></app-social>
  </span>

  <!-- <div class="about_content">
    <div class="row">
      <div class="col-md-4 headingCard themebg">
        <h3 class="heading sectionHeading cardHeading our-team">
          <span class="white">
            Our
          </span> &nbsp;<span class="mainTextColor">
            Team
          </span>
        </h3>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team1.PNG" alt="">
        <h3 class="heading cardHeading">Mr. Tanuj Patnaik</h3>
        <p>Co-Founder,Managing Director <br>
          B.Tech-Information Technology, M.B.A- <br>
          Marketing & HR</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team2.PNG" alt="">
        <h3 class="heading cardHeading">Mr. Sibashish Behera</h3>
        <p>Co-Founder, Chief Operating Office, Program<br>
          Manager</p>
        <p>B.Tech-Information Technology, M.B.A-<br>
          Marketing & BFSI</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team3.PNG" alt="">
        <h3 class="heading cardHeading">Mr.Chandrashekhar Swain</h3>
        <p>Vice-President,Consulting <br>
          B.Tech-Electronics and Communication <br>
          Engineering</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team4.PNG" alt="">
        <h3 class="heading cardHeading">Mr.Soumyajit Patnaik</h3>
        <p>Vice-President, Innovation & Strategy <br>
          B.Tech- Mechanical Engineering</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team1.PNG" alt="">
        <h3 class="heading cardHeading">Mr.Paramjitt Pattnaik</h3>
        <p>Co-Founder, Chief Finance Officer, VP- <br> Strategy,</p>
        <p>Director of Client Engagemen <br>
          Bachelor of Business Administration, CFA <br> Level-1</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team5.PNG" alt="">
        <h3 class="heading cardHeading">Laxmipriya Samantaray</h3>
        <p>JAVA Developer, IT & Tech Support <br>
          B.Tech-Computer Sc.(College of Engg,& <br> Tech.)</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team6.PNG" alt="">
        <h3 class="heading cardHeading">Rituparna Sahu</h3>
        <p>General Manager-HR <br>
          BBA LLB(KIIT SCHOOL OF LAW)</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team3.PNG" alt="">
        <h3 class="heading cardHeading">Prajukta Mishra</h3>
        <p>Relation Manager, Client Engagement <br>
          M.B.A-Marketing & Finance</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team1.PNG" alt="">
        <h3 class="heading cardHeading">Praveen Kumar</h3>
        <p>Manager-Promoions and PR <br>
          B.B.A,M.B.A-Marketing & Opeations</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team7.PNG" alt="">
        <h3 class="heading cardHeading">Ayush Kumar Mishra</h3>
        <p>Web Developer / Analyst, <br>
          Business Development Head-(Southern <br> Odisha)</p>
      </div>
      <div class="col-md-4 team">
        <img src="../../assets/images/team1.PNG" alt="">
        <h3 class="heading cardHeading">Tilak Raj Mishra</h3>
        <p>Territory Sales Manager,<br> (Business Development)</p>
      </div>
    </div>
  </div> -->
</section>

<app-testimonial></app-testimonial>
<app-promotional-form></app-promotional-form>