.about_container {
  background-image: url("../../assets/images/DSC01711.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about_content {
  padding: 25px 0px;
}

.about .sectionHeading {
  font-size: 35px !important;
}
.about h1 {
  font-size: 60px;
  font-weight: bold;
}
.aboutBanner h1 {
  font-size: 60px;
  font-weight: bold;
}
.aboutBanner{
  height: 400px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}
.yellow {
  color: #0554c6;
}
.headingCard {
  padding: 20px;
}
.about_content .sectioncontent {
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 1.7;
  font-size: 13px;
  color: black;
}
.maintitle {
  display: flex;
  padding-top: 130px;
  /* padding-right: 30px; */
  align-items: flex-end;
  height: 100%;
}
.maintitle p {
  font-size: 55px;
  padding-top: 37px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
}

.p {
  padding: 20px;
}

.our-team {
  background-color: #00322f;
}
.team {
  text-align: center;
  padding-top: 80px;
}
.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
p {
  font-size: 12px;
  margin: 0;
}
h3 {
  margin: 0;
}
@media only screen and (max-width: 600px) {
.aboutBanner h1{
  padding: 0px !important;
}

}