<div class="container-fluid">
    <div *ngIf="product" class="row">
        <div class="col-md-5">
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-5 img1">
                    <img style="height: 23pc;
                width: 260px; cursor: pointer;" [src]="product.img">
                </div>
                <div class="col-md-7">
                    <div class="alignment" style="padding-top: 43px;">
                        <a href="/Our-Products" style="list-style-type: none;">Brand: After-Smoke</a>
                        <h1 style="color: #001675;">{{product.heading}}</h1>
                        <hr>
                        <h2 style="color: #001675; font-size: 25px; max-width: 186px;line-height: initial;">
                            {{product.desc}}</h2>
                        <div class="buttOn">
                            <button (click)="addProduct()" class="btn btn-primary focus">Add To Cart</button>
                            <button (click)="addProduct()" routerLink="/Cart" class="btn btn-primary focus">Buy
                                Now</button>
                        </div>
                    </div>
                </div>
                <p style="padding: 20px;"><b><span style="color: rgba(0, 0, 255, 0.671);">After-Smoke </span>helps to
                        normalize altered endocrine function and helps to
                        eliminate toxins and normalizes
                        hormonal level and improves vitality life. After-Smoke offers best support in long term
                        chronical
                        disease and conditions where long term medication is essential and helps to protect vital organs
                        from side effects of many drugs. After-Smoke works well in Auto-Immune diseases and conditions.
                        After-Smoke IS WELL INDICATED DURING OR AFTER DE-ADDICTION FROM TOBACCO, ALCOHOL OR NARCOTICS
                        ADDICTION.</b></p>
            </div>
        </div>
        <div class="col-md-7" style="background-color: #f0f8ff2e; max-height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay; padding: 20px; padding-top: 0px;">
            <h2 style="padding-top: 75px;"><u>DESCRIPTION</u></h2>


            <h1>AMLAVATAM
            </h1>
            <p><b>Amlavatam increases the activity of Natural killer T-cells leading to toxicity for Dead and Harmful
                    cells.
                    It
                    helps in detoxification by improving your immunity.
                    हरीतकीसमं धात्रीफलं किन्तु विशेषतः। रक्तपित्तप्रमेहघ्नं परं वृष्यं रसायनम्।
                    हन्ति वातं तदम्लत्वात्पित्तं माधुर्यशैत्यतः। कफ रूक्षकषायत्वात्फलधाञ्यास्त्रिदोषजित्।
                    यस्य यस्य फलस्येह वीर्यं भवति यादृशम्। तस्य तस्यैव वीर्येण मज्जानमपि निर्दिशेत्।</b>
            </p>
            <div>
                <img src="assets/images/amla-fruit-basket.png" style="width: -webkit-fill-available;">
            </div>
            <h1> DRAKSHA</h1>
            <P><b>Draksha are good for respiratory problems. Draksha provide strength to the lungs and acts as an
                    expectorant.
                    Draksha help in the expulsion of mucus, thus used in case of cough and bronchitis.</b>
            </P>
            <div>
                <img src="assets/images/grapes.png" style="width: -webkit-fill-available;">
            </div>

            <H1>HATTVILASINI</H1>
            <p><b>Smoking may open the risks for different types of cancer. Hattvilasini contains curcumin which has
                    anti-toxicity, anti-cancerous, anti-inflammatory and antioxidant properties. It is beneficial for
                    supporting
                    lung function and protect our lungs from cancer toxins. It can aid in removing harmful toxins from
                    the
                    body
                    while protecting organs from further damage. </b></p>

            <div> <img src="assets/images/haldi.png" style="width: -webkit-fill-available;">
            </div>
            <h1>HINGU</h1>
            <h3>What are the benefits of Hingu for Inflammation of the airways (bronchitis)?
            </h3>
            <p>MODERN SCIENCE VIEW<b>
                    Hingu might be beneficial in the management of bronchitis. It has antimicrobial and expectorant
                    properties.
                    Umbelliprenin in Hingu blocks smooth muscle receptors (muscarinic receptors) and helps relax the
                    tracheal
                    smooth muscles.
                    AYURVEDIC VIEW
                    Hingu is useful if you have cough related problems like bronchitis. In Ayurveda, this disease is
                    known
                    as
                    Kasroga and is caused by poor digestion. Poor diet and incomplete elimination of wastes lead to the
                    formation of Ama (toxic remains in the body due to improper digestion) in the form of mucus in the
                    lungs.
                    This leads to bronchitis.Taking Hingu helps to improve digestion and reduce Ama. This is due to its
                    Deepan
                    (appetizer) and Pachan (digestive) properties. It also reduces excess mucus accumulation because of
                    its
                    Ushna (hot) nature.</b>
            </p>
            <div>
                <img src="assets/images/hing.png" style="width: -webkit-fill-available;">
            </div>

            <h3> <b>What are the benefits of Hingu for Asthma?</b>
            </h3>
            <p><b>MODERN SCIENCE VIEW
                    Hingu might be beneficial in the management of asthma. It blocks the histamine receptors in the
                    trachea.
                    Umbelliprenin in Hingu blocks the smooth muscle receptors (muscarinic receptors). This helps to
                    relax
                    the
                    tracheal smooth muscles. Hingu also has expectorant property that helps to expel the mucus from the
                    respiratory tract.
                    AYURVEDIC VIEW
                    Hingu helps to reduce the symptoms of asthma. According to Ayurveda, the main doshas involved in
                    asthma
                    are
                    Vata and Kapha. The vitiated ‘Vata’ combines with deranged ‘Kapha dosha’ in the lungs causing
                    obstruction in
                    the respiratory passage. This results in difficulty in breatHingu. This condition is known as Swas
                    Roga
                    or
                    Asthma. Taking Hingu helps to calm Vata-Kapha and remove excess mucus from the lungs. This gives
                    relief
                    from
                    the symptoms of asthma.</b>
            </p>
            <h1>HOLY BASIL
            </h1>
            <p><b>"The Queen of Herbs"l is beneficial in relieving cough and cold symptoms due to its antimicrobial,
                    anti-inflammatory, antitussive (cough-relieving) and anti-allergic properties and also protect lungs
                    from
                    harmful toxins.</b> </p>

            <div>
                <img src="assets/images/Tulsi.png" style="width: -webkit-fill-available;">
            </div>
            <h1>JETHIMADH
            </h1>
            <p><b>Jethimadh is an effective and potent medicinal herb. It can be consumed directly to get relief from
                    cough
                    and
                    sore throat. Due to its expectorant and bronchodilator properties, it can cure cough, bronchitis and
                    also
                    reduce the effects of chronic asthma. It even loosens and thins the mucus that clogs the airways and
                    helps
                    facilitate its expulsion through coughing to relieve congestion. It helps to fight infections by
                    boosting
                    immunity due to its Rasayana (rejuvenating) property.</b></p>
            <div>
                <img src="assets/images/sinhal.png" style="width: -webkit-fill-available;">
            </div>

            <h1>SUGANDHMALA</h1>
            <p><b>
                    The use of Sugandhmala slows down the function of the Central Nervous System (CNS). It relaxes your
                    respiratory functions and also relaxes the muscles supporting your ribcage, which get stressed due
                    to
                    coughing.</b>
            </p>
            <div>
                <img src="assets/images/SUGANDHMALA-removebg-preview.png" style="width: -webkit-fill-available;">
            </div>


            <h1>TRIPHALA</h1>
            <p> <b>
                    A combination of three fruits or herbs “Haritaki, Bibhitaki and Amalaki”,its a Tridoshic Rasayana
                    i.e.,
                    a
                    therapeutic agent that balances all three doshas - Kapha, Vata and Pitta. It is a rich source of
                    antioxidants such as vitamin C which helps in building immunity. Also its warm nature reduces the
                    toxins
                    in
                    your body.</b>
            </p>
            <div>
                <img src="assets/images/TRIPHALA-removebg.png" style="width: -webkit-fill-available;">
            </div>
            <h1>UGARGANDH</h1>
            <p><b> Ugargandh contains a compound called allicin, which acts as a powerful antibiotic agent and helps
                    overcome
                    respiratory infections that clog our lungs. it also effectively reduces breathlessness and
                    congestion.It
                    also helps reduces inflammation, improves asthma and reduces the risk of lung cancer. </b></p>
            <div>
                <img src="assets/images/garlic.png" style="width: -webkit-fill-available;">
            </div>
        </div>

    </div>
</div>