.home_containner {
    background-image: url('../../assets/images/shutterstock_458145142.jpg');
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content {
    padding: 25px 40px;
  }
  
  .maintitle {
    padding-top: 65%;
    /* padding-right: 30px; */
    align-items: flex-end;
    height: 96vh;
  }
  .maintitle p {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.2;
  }
  .promotional .form_label{
    color:#fff;
}
.form-control{
  height: calc(0.5em + .75rem + 10px);
}
.signup_button{
 color: white;
 background-color: #0d5aa6;
 display: block; 
 width: 100%;
 margin-bottom: 20px;
 border: none;
}

.formSection{
  text-align: center;
padding:60px;
border: 0px solid;
box-shadow: 0px 0px 9px -2px grey;
margin-top: 60px;
margin-bottom: 60px;
padding-left: 80px;
padding-right: 80px;
}
.column{
    background-image: url('../../assets/images/shutterstock_458145142.jpg');
    height: 51%;
    color: white;
    padding: 28px;
    /* background-position: center; */
    width: 150%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 78px;
    bottom: 125px;
    border-radius: 2pc;
    box-shadow: 10px 10px #88888840;
}
@media screen{
  .column{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .home_containner{
background-position: inherit;
  }
  .formSection{
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}