<!-- <app-header></app-header>
<div class="container-fluid backgroud_img">
    <div class="row" style="height: 100%;
align-items: center; ">
        <div class="col-md-4"></div>
        <ng-container *ngFor="let card of cards">
            <div class="col-md-3 " style="max-width: 20%;">
                <mat-card class="example-card"> -->
<!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                       <mat-card-title>Congratulations</mat-card-title> 
                       <mat-card-subtitle>of one best decison of your life.</mat-card-subtitle>
                    </mat-card-header> -->
<!-- <mat-card-content>
                        <p>{{card.caption}}</p>

                    </mat-card-content>
                    <mat-card-actions style="justify-content: center;
                    display: flex;">
                        <a [routerLink]="card.link">{{card.button}}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>
<app-footer></app-footer> -->