<!-- <div class="bestseller">
    <h1>BESTSELLER PRODUCTS</h1>
    <p>SHOP OUR BEST SELLING PRODUCTS</p>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3 images"><img src="assets/images/1.png"></div>
        <div class="col-md-3 images"><img src="assets/images/2.png"></div>
        <div class="col-md-3 images"><img src="assets/images/3.png"></div>
        <div class="col-md-3 images"><img src="assets/images/4.png"></div>
    </div>
</div> -->
<!-- <div>
    <div class="row">
        <div class="col-md-3 images">
            <img src="../../assets/images/laddy2.png">
            <div class="row">
                <div class="col-md-3 " style="width: 560%;
                padding-top: 30px;
            "><img src="../../assets/images/laddy3.png"></div>
            </div>

        </div>
        <div class="col-md-6 images"> <img src="../../assets/images/man-body.png"></div>
        <div class="col-md-3 images"> <img src="../../assets/images/laddy1.png">
            <div class="row">
                <div class="col-md-3" style="width: 560%;
                padding-top: 30px;
            "><img src="../../assets/images/laddy4.png"></div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div style=" background-color: #636365; padding: 30px;
margin: 15px;">
    <h1 style="text-align: center;
    font-size: 50px;
    padding: 8px;
    color: white;"> PRODUCTS INGREDIENTS</h1>
    <div class="row">
        <div class="col-md-6">
            <h1 class="diffrent" style="color: white; margin-top: 60px;
            ">HALDI</h1>
            <img src="assets/images/haldi (1)_ccexpress (1).png" style="width: 40%;">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsa sapiente qui, saepe porro ut! Ab
                sunt ullam exercitationem. Aspernatur?</p>
        </div>
        <div class="col-md-6">
            <h1 class="diffrent" style="color: white;margin-top: 60px;
            ">grapes</h1>
            <img src="../../assets/images/grapes-removebg-preview.png" style="width: 29%;">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo nesciunt
                repellat rerum dolorum eligendi!</p>
        </div>
        <div class="row" style="padding: 15px;">
            <div class="col-md-6">
                <h1 class="diffrent" style="color: white;">garlic</h1>
                <img src="../../assets/images/garlic-3419544__480_prev_ui.png" style="width: 40%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
            <div class="col-md-6">
                <h1 class="diffrent" style="color: white;">Hingu</h1>
                <img src="../../assets/images/Best-Asafoetida-Benefits-Hing-For-Health-Hair-Skin.jpg_prev_ui.png"
                    style="width: 38%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
        </div>
        <div class="row" style="padding: 15px;">
            <div class="col-md-6">

                <h1 class="diffrent" style="color: white;">TRIPHALA</h1>
                <img src="../../assets/images/TRIPHALA-removebg.png" style="width: 40%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
            <div class="col-md-6">
                <h1 class="diffrent" style="color: white;">Sugandhmala</h1>
                <img src="../../assets/images/SUGANDHMALA-removebg-preview.png" style="width: 26%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
        </div>
        <div class="row" style="padding: 15px;">
            <div class="col-md-6">

                <h1 class="diffrent" style="color: white;">tulsi</h1>
                <img src="../../assets/images/Tulsi-Benefits-Holy-Basil-For-Health-Hair-Skin.jpg_prev_ui.png"
                    style="width: 40%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
            <div class="col-md-6">
                <h1 class="diffrent" style="color: white;">JETHIMADH</h1>
                <img src="../../assets/images/sinhal.png" style="width: 35%;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in? Expedita at aut iure explicabo
                    nesciunt
                    repellat rerum dolorum eligendi!</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="blog" style="background-color: #0000ff69;">

    <div class="container">
        <h1 style="font-size: 50px;
        text-align: center;
        padding: 37px;
        color: blue;">After-Smoke</h1>
        <div class="row">
            <div class="col-md-6">

                <h1 style="color: white;">Lorem ipsum, dolor sit amet consectetur adipisicing.</h1>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi accusamus neque, rerum eaque, unde
                    recusandae excepturi itaque quae voluptate iure exercitationem maxime, consectetur necessitatibus
                    possimus?</p>
                <img src="../../assets/images/DSC01703.JPG" style="height: 100vh;
            width: 80%;
            padding-bottom: 117px;">
            </div>

            <div class="col-md-6">
                <img src="../../assets/images/three-image.png" style="height: 80vh;
                ;
            width: 100%;">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, iusto?</p>
            </div>
        </div>
    </div>

</div> -->







<div data-aos="fade-up" data-aos-duration="1500" class="products">
    <h2 class="sectionHeading"><span class="mainTextColor">PRODUCTS</span> INGREDIENTS</h2>
</div>
<!-- <div class="container after-smokes">
    <div class="container" style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="opacity">
                    <h1 style="font-size: 40px;">Whats Your Purpose ?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate, vitae facere numquam reiciendis ipsa dolores repellendus minus.
                        Incidunt, cumque voluptatum delectus nisi recusandae unde? Eligendi illo nulla ipsam voluptate.
                        Quibusdam eligendi quia explicabo, cum consectetur laudantium similique?</p>
                </div>
            </div>
        </div>
    </div>


</div> -->