<section style="padding-top: 60px;" class="container">
    <div class="row">
        <div data-aos="zoom-in-right" data-aos-duration="2000" class="col-md-5 newimg">

        </div>
        <div data-aos="zoom-in-left" data-aos-duration="2000" class="col-md-7" style="line-height: 60px ;"><span
                style="font-size: 25px;">Lorem ipsum dolor sit, amet
                consectetur</span> adipisicing
            elit. Nihil rerum velit nisi ratione
            dolores illo magni libero numquam, nostrum alias neque nulla accusamus facere, minima hic, aut animi dolore
            in. A perferendis error saepe necessitatibus aspernatur eaque laborum, quia quasi accusamus qui deserunt
            repellat quis accusantium incidunt fugiat nulla. Repellendus, modi? Vitae fugiat eum autem ipsam tempore
            magnam, nisi laudantium enim voluptas architecto modi quod corrupti nam? Nobis doloribus, vero totam,
            nostrum voluptatem fugiat vitae enim tempora omnis ex alias architecto suscipit distinctio? Error eos
            aperiam sequi veniam officia ipsum vero, amet accusamus possimus voluptate porro nisi doloremque
            exercitationem cumque?</div>
    </div>

</section>
<section class="bottom-img">
    <div data-aos="zoom-in" data-aos-duration="2000" class="products">
        <h2 class="sectionHeading"><span class="mainTextColor">PRODUCTS</span> INGREDIENTS</h2>
    </div>
</section>
<!-- <div class="container after-smokes">
    <div class="container" style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="opacity">
                    <h1 style="font-size: 40px;">Whats Your Purpose ?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate, vitae facere numquam reiciendis ipsa dolores repellendus minus.
                        Incidunt, cumque voluptatum delectus nisi recusandae unde? Eligendi illo nulla ipsam voluptate.
                        Quibusdam eligendi quia explicabo, cum consectetur laudantium similique?</p>
                </div>
            </div>
        </div>
    </div>


</div> -->