<!-- <section class="testimonial Section container">


  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 contectSection">
      <h2 class="sectionHeadingLeft"> WHAT PEOPLE ARE <span class="mainTextColor">SAYING</span></h2>
      <H4>AYUSH KUMAR</H4>
      <P class="para">"I'm a codding enthusiast and I did my course in python here at techZy Education and I am only 19.
        I am
        continuing my graduation first year and you know what I work with them as a full-time employee. The just Officer
        me a job which is quite amazing. I still can't believe it. Thanks. TechZy for giving me and my career a helping
        hand.
      </P>
    </div>
  </div>
</section> -->