<!-- <div class="container-fluid promotional">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="sectionHeadingLeft" style="color: white;">NOW AT <span class="mainTextColor">20%</span>LESS THAN
                <span class="mainTextColor">REGULAR PRICE</span>
            </h2>


            <h3 class="slogan">lets sign up to a world of limitless knowledge and
                possiblities</h3>
            <div class="form-group">
                <label class="form_label" for="firstname"> Name*</label>
                <input type="text" formControlName="firstName" class="form-control" id="firstname">
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="form_label" for="phone">Phone No.*</label>
                        <input type="tel" class="form-control" formControlName="phoneNumber" maxlength="10" id="mobile">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="form_label" for="mobile">Email*</label>
                        <input type="tel" class="form-control" formControlName="email" maxlength="10" id="email">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="form_label" for="mobile">Profession*</label>
                <input type="tel" class="form-control" formControlName="phoneNumber" maxlength="10" id="mobile">
            </div>
            <div class="form-group">
                <label class="form_label" for="email">educational Qualification*</label>
                <input type="email" formControlName="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label class="form_label" for="password">educational Institution/Employe*</label>
                <input type="text" formControlName="password" class="form-control" id="txt">
            </div>
            <div class="form-group">
                <label class="form_label" for="Cpassword">How did you get to know about techZy Education?*</label>
                <input type="text" formControlName="confirmPassword" class="form-control" id="Cpassword">
            </div>

            <div class="form-group">
                <label class="form_label" for="Cpassword">RID No.(option)</label>
                <input type="text" formControlName="confirmPassword" class="form-control" id="Cpassword">
            </div>
            <button type="submit" class="btn signup_button form_button">Sign Up</button>

        </div>
    </div>

</div> -->