<section class="container Section blog">
    <h2 class="sectionHeading"><span class="mainTextColor">After Smoke</span> blog</h2>
    <div class="row cardSection">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <!-- <a routerLink="/blog/1"> -->
            <mat-card routerLink="/blog/1" class="cardshadow">
                <h3 class="heading cardHeading">TOBACCO USE IN INDIA
                </h3>
                <hr class="headingLine /">
                <p class="sectioncontent">
                    Tobacco is the leading and a preventable cause of illness, disability and pre mature death
                    globally.
                    Tobacco has been called the world's greatest weapon of mass destruction. Each year 8-9 lakhs
                    Indians
                    die from Tobacco related disease. This results in high personal and Society costs.</p>
            </mat-card>
            <!-- </a> -->
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <mat-card routerLink="/blog/2" class="cardshadow">
                <h3 class="heading cardHeading">NICOTINE WITHDRAWAL SYMPTOMS</h3>
                <hr class="headingLine" />


                <p class="sectioncontent">
                    Millions of people know from personal experience that smoking is a tough habit to kick. The reason
                    is that nicotine is addictive. Even though nicotine’s high isn’t as dramatic as cocaine or heroin’s,
                    it’s equally as addictive as those illegal drugs.
                </p>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <mat-card routerLink="/blog/3" class="cardshadow">
                <h3 class="heading cardHeading">NORMAL RECOVERY PROJECTIONS</h3>
                <hr class="headingLine" />


                <p class="sectioncontent">
                    Here’s what you can expect after finishing your final cigarette:
                    <span>
                        <li> 30 minutes to 4 hours: The effects from the nicotine will wear off and you’ll start to
                            crave another cigarette.
                        </li>
                    </span>

                </p>
            </mat-card>
        </div>
    </div>
</section>