.blog .cardHeading {
  margin-bottom: 0px;
}

.blog mat-card-content {
  padding: 16px 30px 35px 30px;
}

.blog .sectionHeading {
  padding-bottom: 0px;
  font-size: 35px !important;
}
.cardshadow {
  min-height: 180px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}
.cardshadow:hover {
  transform: scale(1.1);
}
