/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;

}

.page-wrapper {
  position: relative;
}
.main_containner {
  padding-top: 100px;
}
.displayBlock{
  display: block!important;
}

.displayBlock .mat-form-field-flex{
  background:transparent!important;
}
.subheading {
  font-size: 13px;
  font-weight: 400;
  color: #424242;
}
.heading {
  font-weight: 800 !important;
  color: #0554c6;
}
.form-control:focus {
  border-color: #8cda3f;
  box-shadow: 0 0 0 0.2rem rgba(140, 218, 63, 0.25);
}
.form_label {
  color: #424242;
  font-size: 12px;
  margin-bottom: 0;
}

.bluebtn {
  box-shadow: 0px 2px 11px 4px rgb(68 82 160 / 20%);
  background-color: #0554c6;

}
.greenThemeBtn {
  background-color: #0554c6;
}
.custom_button {
  padding: 5px 20px;
  font-size: 14px;
  color: #ffffff;
}
.custom_button:hover {
  /* background-color: #8cda3f; */
  color: #ffffff;
}
.custom_button:focus {
  /* background-color: #8cda3f; */
  color: #ffffff;
  /* box-shadow: 0 0 0 0.2rem rgba(140, 218, 63, 0.25); */
}
.mainTextColor {
  color: #0554c6;
}

.p {
  color: #707070;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
.Section {
  padding-bottom: 20px;
}

.sectioncontent {
  color: #919191;
  font-weight: 400;
  font-size: 12px;
}
.cardshadow {
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 9%), 0px 1px 1px 0px rgb(0 0 0 / 3%),
    0px 1px 3px 0px rgb(0 0 0 / 11%) !important;
}

.sectionHeading {
  text-align: center;
  font-size: 40px !important;
  font-weight: bolder !important;
  color: #424242;
}

.sectionHeadingLeft {
  padding: 30px 0px;
  text-align: left;
  font-size: 40px !important;
  font-weight: bolder !important;
  color: #424242;
}
.heading {
  color: #424242;
}
.cardSection {
  margin-top: 50px;
}
.cardSection .cardHeading {
  text-align: center;
  text-transform: uppercase;
}

.white {
  color: #fff;
}
.bgwhite {
  background-color: #fff;
}

.slogan{
  color: #fff;
}

.headingLine {
  height: 1.7px;
  width: 80%;
  margin-top: 0px;
  background-color: #301e27;
}

/* .themebg {
  background-color: #242c2c;
} */

.social p {
  margin: 0px;
  color: #2a2a2a;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.social {
  display: flex;
  align-items: center;
}


.bottomBorderInput{
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.bottomBorderInput:focus{
  background-color: transparent;
  border: none;
  color: #fff;
  box-shadow:none;
  border-bottom: 2px solid gray;
}




/* css for mobile devices */

@media only screen and (max-width: 599px) {
  

  .mobileImage{
    display: none;
  }

  .maintitle {
    height: 50vh!important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  

  .mobileImage{
    display: none;
  }

  .maintitle {
    height: 30vh!important;
  }

  .col-md-5{
    flex: 100%!important;
    max-width: 100%!important;
  }
}
@media only screen and (max-width: 1024px) {
  

  .maintitle {
    height: 50vh!important;
  }
}

@media only screen and (min-width:360px) and (max-width:410px){
  .mobileCard{
    margin-top:35px;
  }

  .maintitle p{
    padding-bottom: 30px!important;
  }

  .after-smokes {
    background-position: 68%!important;
}
}

@media only screen and (min-width:360px) and (max-width:600px) {
  .mobileCard{
    margin-top:81px;
  }

  .maintitle p{
    text-align: center;
    padding-top: 34%;
  }
}
/* css for mobile devices ends here*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
