<!-- <div data-aos="zoom-in" data-aos-duration="2000" id="carouselExampleIndicators" class="carousel slide"
  data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container">
        <p></p>
        <div class="buttonSection">
          <button routerLink="quit/wanttoquit">I WANT TO QUIT</button>
          <button routerLink="quit/recentlyquit">I RECENTLY QUIT</button>
          <button routerLink="quit/detoxifylungs">I DON'T WANT TO QUIT</button>
        </div>
      </div>
    </div>
    <div id="target" class="carousel-item">
      <div class="container">
        <p> </p>
        <div class="buttonSection">
          <button routerLink="quit/wanttoquit">I WANT TO QUIT</button>
          <button routerLink="quit/recentlyquit">I RECENTLY QUIT</button>
          <button routerLink="quit/detoxifylungs">I DON'T WANT TO QUIT</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <p></p>
        <div class="buttonSection">
          <button routerLink="quit/wanttoquit">I WANT TO QUIT</button>
          <button routerLink="quit/recentlyquit">I RECENTLY QUIT</button>
          <button routerLink="quit/detoxifylungs">I DON'T WANT TO QUIT</button>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->

<div class="container-fluid" style="height: 100vh;background-image: url('assets/images/image165027.png');
  background-position: center; background-repeat: no-repeat;">
</div>
<app-info></app-info>

<app-courses-we-offer></app-courses-we-offer>
<app-blog></app-blog>