<!-- <div class="home_containner">
  <div class="container">
    <div class="main-section">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
        </div> -->
<!-- <div class=" mobileImage col-lg-7 col-md-7 col-xl-7">
          <img style=" position: absolute;
          width: 400px;
          height: 85%;
          left: 339px;" src="../../assets/images/4.png">
        </div> 
      </div>
    </div>
  </div>
</div> -->


<div class="container-fluid image">
  <div class="overlay">

    <p style="z-index: 2;">year of smoking can cause damage to the lungs that can result in numerous problem including
      irritation
      and
      consetion in the lungs shortness of breathing wheezing and mucus build up, after smoke help to cleans
      and
      edtox lungs from toxins and strengthens and rejuvenates your lungs</p>
    <div class="buttonSection">
      <button routerLink="quit/wanttoquit">I WANT TO QUIT</button>
      <button routerLink="quit/recentlyquit">I RECENTLY QUIT</button>
      <button routerLink="quit/detoxifylungs">I DON'T WANT TO QUIT</button>
    </div>
  </div>

</div>


<app-info></app-info>
<app-courses-we-offer></app-courses-we-offer>
<app-blog></app-blog>