.home_containner {
  background-size: cover;
  background-repeat: no-repeat;
  color: bLACK;
}
.content {
  padding: 25px 40px;
}

.Section{
  padding-top: 0px;
}
.maintitle {
  display: flex;
  padding-top: 245px;
  height: 96vh;
}
.maintitle p {
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 265px;
  color: #ffffff;
  line-height: 1.2;
}

h1{
    color: white;
    background-color: #a1a1a1;
    width: 160px;
text-align: center;
border-radius: 7px;
}

.image{
  background-image: url(../../assets/images/istockphoto-1300226690-170667a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
  position:relative;
  padding: 0px;
 }
 .overlay{
     position: absolute;
     height: 100%;
     z-index: 1;
     width: 100%;
     background-color: #000000a3;
 }
 .buttonSection button{
     /* position: absolute; */
     /* top: 21pc; */
     min-width: 20%;
     border: none;
     border-radius: 25px;
     color: #0554c6;
     height: 50px;
     background-color: white;
     transition: 0.3s;
 }
.buttonSection button:hover{
  background-color: #0554c6;
  color: white;
  font-size: 15px;
}

.buttonSection{
  display: flex;
  justify-content: space-evenly;
 align-items: center;
} 
.buttonSection button:focus {
 outline: none;
 }
 
 p{
  color: black;
  font-size: 25px;     
     padding: 7pc 0pc 14pc 0pc;
     letter-spacing: 2px;
     line-height: initial;

 }
 
 @media only screen and (min-width: 300px) and (max-width: 640px) {
p{
padding: 0px;
padding-top: 7pc;
line-height: 1.3;
}
.image{
  height:70vh;
background-position: center;
}
.buttonSection{
  display: grid;
  justify-content: inherit;
max-width: 100%;
}
button{
  margin: 8px;
  height: 40px !important;
}
 }


 .carousel .carousel-item {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .carousel-item:first-of-type {
  background-image: url("../../assets/images/image165027.png");
}

.carousel .carousel-item:nth-of-type(2) {
  background-image: url("../../assets/images/insurance-1991216_960_720.jpg");
}

.carousel .carousel-item:last-of-type {
  background-image: url("../../assets/images/family-4787016_960_720.jpg");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}
