.home_containner {
  background-size: cover;
  background-repeat: no-repeat;
  color: bLACK;
}
.content {
  padding: 25px 40px;
}

.Section{
  padding-top: 0px;
}
.maintitle {
  display: flex;
  padding-top: 245px;
  height: 96vh;
}
.maintitle p {
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 265px;
  color: #ffffff;
  line-height: 1.2;
}
/* .main-section{
    padding-top: 160px;
  } */

  p{
    color: white;
    font-size: 21px;
    font-family: cursive;
    line-height: initial;
}
h1{
    color: white;
    background-color: #a1a1a1;
    width: 160px;
text-align: center;
border-radius: 7px;
}

.image{
  background-image: url(../../assets/images/istockphoto-1300226690-170667a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
  position:relative;
  padding: 0px;
 }
 .overlay{
     position: absolute;
     height: 100%;
     z-index: 1;
     width: 100%;
     background-color: #000000a3;
 }
 
 .buttonSection button{
     /* position: absolute; */
     /* top: 21pc; */
     z-index: 2;
     min-width: 20%;
     border: none;
     border-radius: 25px;
     color: #0554c6;
     height: 50px;
     background-color: white;
     transition: 0.3s;
 }
.buttonSection button:hover{
  background-color: #0554c6;
  color: white;
  font-size: 15px;

}

.buttonSection{
  display: flex;justify-content: space-evenly; align-items: center;
} 
.buttonSection button:focus {
 outline: none;
 }
 
 p{
     font-size: 18px;
     text-align: center;
     color: white;
     align-items: center;
     z-index: 2;
     padding: 14pc 8pc 5pc 8pc;
     letter-spacing: 2px;
 }
 
 
 
 